
$bg-color: #fff5e0;
$app-color: #f47c2c;

@mixin primaryButton {
    width: max-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    background: $app-color;
    border: 1px solid $app-color;
    transition: all .3s ease-in-out;
    
    &:hover {
        border-color: white;
        background-color: $bg-color;
        color: black;
    }
}

@mixin secondaryButton {
    width: max-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: $app-color;
    background: white;
    border: 1px solid $app-color;
    transition: all .3s ease-in-out;
    
    &:hover {
        border-color: white;
        background-color: $bg-color;
        color: black;
    }
}

.app {
    display: flex;
    justify-content: center;
    
    .container {
        width: 100%;
        max-width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 200px;
            gap: 20px;

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid #000;
                font-size: inherit;
                background: transparent;
            }

            button {
                padding: 10px;
                border: none;
                background: rgb(65, 198, 238);
                cursor: pointer;
                color: white;
            }

            p.error {
                font-size: 12px;
                text-align: center;
                color: red;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $bg-color;

            h1 {
                font-size: 20px;
            }
        }
        .navbar {
            .container {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo { 
                    display: flex;
                    align-items: center;

                    img {
                        width: 300px;
                        height: 90px;
                    }
                }

                

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .avatar {
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    button {
                        @include primaryButton;

                        &.logout-btn {
                            @include secondaryButton;
                        }
                    }
                }
            }
        }

        .info-page {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .section {
                display: flex;
                gap: 20px;
                padding: 20px;
                border: 1px solid lightgray;
                align-items: center;

                .avatar {
                    label {
                        display: block;
                        position: relative;
                        width: 100px;
                        height: 100px;

                        &:hover {
                            .upload-icon {
                                opacity: 0.5;
                            }
                        }

                        .upload-icon {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            opacity: 0;
                            transition: opacity .3s ease-in-out;
                            z-index: 2;
                            background: #555 url('/images/upload-icon.svg') center center no-repeat;
                        }

                        img {
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 1px solid lightgray;
                        }
                    }
                }

                .content {
                    h1 {
                        font-size: 28px;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                    }
                }

                form {
                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input {
                            min-width: 200px;
                        }
                    }

                    button {
                        @include primaryButton;
                    }
                }
            }
        };

        .posts {
            .list {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
            }

            .post {
                display: flex;
                gap: 100px;

                &:nth-child(2n+1) {
                    flex-direction: row-reverse;
                }

                .img {
                    flex: 1;
                    position: relative;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: $bg-color;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }

                    img {
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }

                .content {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h1 {
                        font-style: 48px;
                    }

                    p {
                        font-style: 18px;
                    }

                    button {
                       @include secondaryButton;
                    }
                }
            }
        }

        .singlePost {
            display: flex;
            gap: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-style: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                        
                    }

                    p {
                        margin: 0;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }

                    h1 {
                        font-style: 42px;
                        color: #333;
                    }

                    p {
                        line-height: 30px;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-style: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        @include secondaryButton;
                    }
                }
            }
        }

        .createPost {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    padding: 10px;
                    border: 1px solid lightgray;
                    gap: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-style: 12px;
                    color: #555;

                    h1 {
                        font-style: 20px;
                        margin: 0;
                    }
    
                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .category {
                        color: teal;

                        input {
                            gap: 10px;
                        }
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        button {
                            &:first-of-type {
                                @include secondaryButton;
                            }

                            &:last-of-type {
                                @include primaryButton;
                            }
                        }
                    }
                }

            }
        }
    }
}